<h1><%= @supermarket.name %>'s Show Page</h1>
<%= link_to 'View all this supermarkets items', "/supermarkets/#{@supermarket.id}/items" %>
<div id='3-popular-items'>
    <% @supermarket.top_3_items.each do |item| %>
        <%= item.name %>
    <% end %>
</div>